.blog-component {
  width: 100%;
  height: 100%;
}

.blog-component > .inner {
  margin: 2% 10%;
}

.blog-component > .inner > .latest {
  width: 100%;
  height: 40vh;
  margin: 1rem 0 3rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog-component > .inner > .latest > .overlay {
  content: "";
  position: relative;
  background: linear-gradient(rgba(70, 70, 70, 0.5), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 40vh;
}
.blog-component > .inner > .latest > .content {
  position: absolute;
  color: #fff;
  z-index: 1000;
  margin: 0 3rem;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 38px;
}
.blog-component > .inner > .latest > .content > h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.blog-component > .inner > .latest > .content > p {
  line-height: 20px;
}
.blog-component > .inner > .latest > .content > button {
  background-color: rgb(238, 207, 255);
  width: 7rem;
  text-align: center;
  margin-top: 1rem;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
}
.blog-component > .inner > .all {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.blog-component > .inner > .all > .blog-card {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f6f0fb;
}
.blog-component > .inner > .all > .blog-card > .image {
  width: 100%;
  height: 30vh;
}
.blog-component > .inner > .all > .blog-card > .content {
  padding: 1rem;
}
.blog-component > .inner > .all > .blog-card > .content > h3 {
  font-size: 1.3rem;
}
.blog-component > .inner > .all > .blog-card > .content > p {
  margin: 1rem 0;
}
.blog-component > .inner > .all > .blog-card > .content > button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Show Blog Component */
.show-blog {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.show-blog > .inner {
  height: 90vh;
  width: 50vw;
  background-image: linear-gradient(
      149deg,
      rgba(233, 233, 233, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 42%,
      rgba(0, 0, 0, 0.04) 42%,
      rgba(0, 0, 0, 0.04) 100%
    ),
    linear-gradient(
      283deg,
      rgba(126, 126, 126, 0.04) 0%,
      rgba(126, 126, 126, 0.04) 35%,
      rgba(128, 128, 128, 0.04) 35%,
      rgba(128, 128, 128, 0.04) 100%
    ),
    linear-gradient(
      60deg,
      rgba(203, 203, 203, 0.04) 0%,
      rgba(51, 51, 51, 0.04) 66%,
      rgba(255, 255, 255, 0.04) 66%,
      rgba(237, 237, 237, 0.04) 100%
    ),
    linear-gradient(
      216deg,
      rgba(223, 223, 223, 0.04) 0%,
      rgba(223, 223, 223, 0.04) 32%,
      rgba(15, 15, 15, 0.04) 32%,
      rgba(15, 15, 15, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(249, 243, 255), rgb(228, 203, 255));
  overflow: auto;
  padding: 1rem 2rem;
}
.show-blog > .inner > .header {
  width: 50vw;
  height: 5vh;
}
.show-blog > .inner > .header > h1 {
  float: right;
  cursor: pointer;
}
.show-blog > .inner > .header > h1 > i {
  font-size: 1.5rem;
  color: rgb(77, 77, 77);
}
.show-blog > .inner > h1 {
  font-size: 1.5rem;
}
.show-blog > .inner > .image {
  width: 100%;
  height: 50%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-blog > .inner::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .blog-component > .inner > .all {
    grid-template-columns: repeat(2, 1fr);
  }
}
